/* Importar uma fonte personalizada do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
    height: 100%;
    background-color: #f9f9f9;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Open+Sans', sans-serif;
}

.content-wrap {
    flex: 1;
    width: 100%;
}

#startup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001f3f;
    color: #fff;
    transition: opacity 1s ease-out;
    overflow: hidden;
}

#logo {
    font-size: 3em;
    color: #fff;
    transform: scale(3);
    transition: transform 0.5s ease-out;
}

#main-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1.5s linear;
    height: 100%;
}

.scrolled #logo {
    transform: scale(1);
}

.scrolled #main-content {
    visibility: visible;
    opacity: 1;
    overflow: auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    padding-top: 20px;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

#main-content {
    margin-left: 220px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-color: #f9f9f9;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    max-width: 500px;
    margin-bottom: 20px;
}

.bottom-sections-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.bottom-sections-container section {
    flex-basis: 45%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.bottom-sections-container section:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.bottom-sections-container h2 {
    font-weight: 600;
    margin-bottom: 15px;
}

.bottom-sections-container p {
    font-weight: 300;
    line-height: 1.6;
}

.bottom-sections-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
}

.bottom-sections-container button:hover {
    transform: translateY(-3px);
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

@media (max-width: 768px) {
    .bottom-sections-container {
        flex-direction: column;
    }
    
    .bottom-sections-container section {
        margin-bottom: 30px;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%; /* Ensure the footer spans the full width of the viewport */
}

.flashcard-container {
  perspective: 1000px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.flashcard {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}

.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.flashcard-front {
  background: #007bff;
  color: white;
}

.flashcard-back {
  background: #28a745;
  color: white;
  transform: rotateY(180deg);
}

.flashcard-container:hover .flashcard {
  transform: rotateY(180deg);
}

.flashcard h2, .flashcard p {
  margin: 0;
}

.flashcard.is-flipped {
  transform: rotateY(180deg);
}

/* Quiz style */
.modal { 
	display: none; /* Hidden by default */
}

.navigation-buttons {
    display: flex;
    justify-content: center; /* Align items horizontally in the center */
	position: relative;
    z-index: 1;
}


#prevButton,
#nextButton,
#QuizprevButton,
#QuiznextButton,
#QuizFinishButton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 50px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
#prevButton:hover,
#nextButton:hover,
#QuizprevButton:hover,
#QuiznextButton:hover,
#QuizFinishButton:hover {
    background-color: #0096ff;
}

#flashcard-counter,
#quiz-counter {
  font-size: 1em;
  margin-top: 20px;
  color: #555;
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[type="text"] {
  width: 120px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.quiz-container {
    display: none; /* Esconde todas as questões do quiz */
}
.quiz-container:first-child {
    display: block; /* Mostra apenas a primeira questão por padrão */
}
.quiz-container:not(:first-child) #QuizprevButton {
    display: inline-block;
}

.quiz-container {
    max-width: 600px; /* ajuste conforme necessário */
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto; /* centraliza na página */
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* alinha o texto à esquerda */
    display: flex;
    flex-direction: column;
    align-items: center; /* alinha os itens ao centro */
    position: relative;
    z-index: 2;
}

/* Estilização dos rótulos e input rádio */
.quiz-answer label {
    margin-left: 25px; /* espaço à esquerda para as opções de resposta */
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px; /* espaço entre as opções de resposta */
}

.quiz-answer input[type="radio"] {
    margin-right: 10px; /* espaço à direita do botão de rádio */
}

#quiz-results {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Esconde até que os resultados sejam calculados */
}
