<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge | MindMatrix</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <div class="content-wrap">
        <!-- Fixed Navigation -->
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a href="#" id="challenge-link">Challenge</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="@{/rankings}">Global Ranking</a></li>
                <li id="user-name" style="display: none;"><a>Welcome, <span id="nickname"></span></a></li>
                <li><a th:href="@{/login}" id="login-tab">Login</a></li>
            </ul>
        </nav>

        <!-- Main Content -->
        <main id="main-content">
            <section id="home" class="hero">
                <h1 th:text="${message}">Challenge Yourself</h1>
                <p>Your journey into the world of knowledge begins here.</p>
            </section>

            <!-- Challenge Section -->
                <section id="games">
                    <h2>Gaming Mode</h2>
                    <form id="gameRequestForm" action="/games/generate" method="get">
                        <label for="number">Number of Questions: <span th:text="${questionCount}">Loading...</span></label>
                        <br>
                        <label for="points">Your Points: <span id="user-points">Loading...</span></label>
                        <button type="submit">Start Game</button>
                    </form>
                </section>
        </main>
    </div>

    <footer class="footer">
        <p>&copy; 2024 MindMatrix. All rights reserved.</p>
    </footer>
</body>
</html>
