<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <div class="content-wrap">
        <!-- Fixed Navigation -->
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a href="#" id="challenge-link">Challenge</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="@{/rankings}">Global Ranking</a></li>
                <li id="user-name" style="display: none;"><a>Welcome, <span id="nickname"></span></a></li>
                <li><a th:href="@{/login}" id="login-tab">Login</a></li>
            </ul>
        </nav>

        <!-- Main Content -->
        <main id="main-content">
            <section id="home" class="hero">
                <h1>Flashcards</h1>
                <p>Your journey into the world of knowledge begins here.</p>
            </section>

            <!-- Flashcard Content -->
            <div class="tab-container">
                <section id="flashcards">
                    <h2>Flashcards</h2>
                    <div th:each="flashcard, flashcardIndex : ${flashcards}" class="flashcard-container">
                        <div class="flashcard">
                            <div class="flashcard-front">
                                <h2 th:text="${flashcard.question}">Question Placeholder</h2>
                            </div>
                            <div class="flashcard-back">
                                <p th:text="${flashcard.answer}">Answer Placeholder</p>
                            </div>
                        </div>
                    </div>
                    <br><br><br>

                    <!-- Navigation Buttons -->
                    <div class="navigation-buttons">
                        <button id="prevButton">Back</button>
                        <button id="nextButton">Next</button>
                        <p id="flashcard-counter">1 of X</p>
                    </div>
                </section>
            </div>
        </main>
    </div>

    <footer class="footer">
        <p>&copy; 2024 MindMatrix. All rights reserved.</p>
    </footer>
</body>
</html>
