<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MindMatrix</title>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js" defer></script>
</head>
<body>
	<div class="content-wrap">
		<div id="startup">
			<h1 id="logo">MindMatrix</h1>
		</div>

		<main id="main-content">
			<nav>
				<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
			<section id="home" class="hero">
				<p>Your journey into the world of knowledge begins here.</p>
			</section>

			<section id="quizzes">
				<div id="quiz-results"></div>
				<!-- Dynamically display quizzes -->
				<div th:if="${quizzes != null}">
					<div th:each="quiz : ${quizzes}" class="quiz-container"
						th:attr="data-quiz-id=${quiz.id}">
						<div class="quiz-question">
							<h3 th:text="${quiz.question}">Quiz Question Placeholder</h3>
						</div>

						<div th:each="answer, stat : ${quiz.answers}" class="quiz-answer">
							<input type="radio"
								th:id="${'answer' + stat.index + '_' + quiz.id}"
								th:name="${'quiz' + quiz.id}" th:value="${stat.index}">
							<label th:for="${'answer' + stat.index + '_' + quiz.id}"
								th:text="${answer}">Answer Placeholder</label>
						</div>
						<p>
						<p>

							<!-- Button to reveal the correct answer -->
						<div class="show-answer-container">
							<button class="show-answer-button">Show Correct Answer</button>
							<p class="correct-answer" style="display: none;"
								th:text="${quiz.correctAnswerText}"></p>
						</div>
					</div>
				</div>
				<div class="navigation-buttons">
					<button id="QuizprevButton">Back</button>
					<button id="QuiznextButton">Next</button>
					<button id="QuizFinishButton">Finish</button>
					<p id="quiz-counter">1 of X</p>
				</div>
			</section>
	</div>
	</main>
	</div>

	<footer class="footer">
		<p>&copy; 2024 MindMatrix. All rights reserved.</p>
	</footer>
</body>
</html>
