<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MindMatrix</title>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js" defer></script>
</head>
<body>
	<div class="content-wrap">
		<div id="startup">
			<h1 id="logo">MindMatrix</h1>
		</div>

		<main id="main-content">
			<nav>
				<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
			<section id="home" class="hero">
				<p>Your journey into the world of knowledge begins here.</p>
			</section>


			<section id="quizzes">
			<div id="quiz-results"></div>
				<!-- Dynamically display quizzes -->
				<div th:if="${quizzes != null}">
					<div th:each="quiz, quizStat : ${quizzes}" class="quiz-container">
						<div class="quiz-question">
							<h3 th:text="${quiz.question}">Quiz Question Placeholder</h3>
						</div>
						<div th:each="answer, stat : ${quiz.answers}" class="quiz-answer">
							<input type="radio"
								th:id="${'answer' + quizStat.index + '_' + stat.index}"
								th:name="${'quiz' + quizStat.index}" th:value="${stat.index}">
							<label th:for="${'answer' + quizStat.index + '_' + stat.index}"
								th:text="${answer}">Answer Placeholder</label>
						</div>
					</div>
				</div>
				<div class=navigation-buttons>
					<button id="QuizprevButton">Back</button>
					<button id="QuiznextButton">Next</button>
					<button id="QuizFinishButton">Finish</button>
					 <p id="quiz-counter">1 of X</p>
				</div>
			</section>
	</div>

	</main>
	</div>

	<footer class="footer">
		<p>&copy; 2024 MindMatrix. All rights reserved.</p>
	</footer>

</body>
</html>
